body{
    background-color: #0080cb;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.butao{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
a{
    text-decoration: none;
    text-align: center;

    color: black;
    background-color: white;

    padding: 8px 15px;

    border-radius: 8px;

    transition: all 1s;

    width: 110px;
}

a:hover{
    background-color: #e4e3e3;
}