* {
    box-sizing: border-box;
}

body{
    background-color: #0080cb;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

input{
    height: 25px;
}
button:active{
    opacity: 0.8;
}
button:disabled{
    opacity: 0.8;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.formulario div{
    width: 100%;
}
.formulario input{
    padding: 0px 8px;
    width: 100%;
}
.email label{
    width: 100%;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.botoes button{
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    color: black;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 8px;
    width: 100%;

}

.btn-recuperar{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    width: 100%;

    text-decoration: none;
    text-align: center;

    background-color: transparent;
    border: 0.5px solid;
    cursor: pointer;

    color: white;

    border-radius: 8px;
    
}

.btn-recuperar:hover{   
    text-decoration: underline;
}

.erro{
    background-color: red;
    padding: 3px;
    display: none;
}
